*{
  padding: 0;
  margin: 0;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 200px;
  height: 45px;
  padding-left: .5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  outline: none;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

button {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

button:active {
  transform: scale(0.9);
}

.show {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.heading {
    font-size: 44px;
    color: steelblue;
    font-weight: 900;
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.para {
    font-size: 24px;
    font-weight: 900;
}

#display{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 30px;
    border: 2px solid gray;
    background-color: gray;
    color: white;
    font-weight: 800;
    padding: 12px 12px;
    font-size: 24px;
    border-radius: 16px;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}

@media only screen and (max-width: 568px) {
    .heading {
        font-size: 26px;
    }
    .para {
        font-size: 16px;
    }
}

